{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}My Books | {{ block.super}}{% endblock head_title %}

{% block content %}

<div class='book-list-page'>
<div class='outer'>
    <div class="row">
        <!-- h2 has a padding-left of 15 because row has a built-in padding-left of -15px -->
        <my-title class='page-title'>My Books</my-title>
        <div class="col-sm-4 book-search">
            <form class='form' method='GET'  action='.' role='search'>
                <div class="input-group" >
                    <input type="text" class="form-control" placeholder="Search..." name="q" value='{{ request.GET.q }}'>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class='row' style="padding-bottom: 60px;">
    <div id='bookshelf' class='bookshelf'>
        {% for obj in books %}
            <div class='col-sm-4 book-tile details-close'>
                <div class='book-tile-content'>
                    <div class='book gallery'>
                        {% with 'img/'|add:obj.image.name as image_static %}
                            <img src={% static image_static %}>
                        {% endwith %}
                    </div>
                    <figcaption>
                        <h2>{{ obj.title|capfirst }}</h2>
                        <div class='buttons'>
                            <a href="#">Details</a>
                        </div>
                    </figcaption>
                    <div class='details'>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</li>
                            <li>Funky Press</li>
                            <li>{{ obj.datePub }}</li>
                            <li>$ {{ obj.price }}</li>
                        </ul>                        
                    </div>
                    <div class='spine'></div>
                </div>
            </div>
        {% empty %}
            <li><a href='{% url "writerhome:create" %}'>Add a Book</a></li>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}