{% extends "base.html" %}

{% block head_title %}{{ form.instance.title }} | Books | {{ block.super}}{% endblock head_title %}

{% block content %}
<h1>Book Details</h1>

<h2>{{ form.instance.title }} <small> &nbsp;by&nbsp; {{ form.instance.author }} </small></h2>
<!-- <p>{{ form.instance.descr }}</p>
<p>Published - {{ form.instance.datePub }}</p>
<br /> -->


<!-- <div class='gallery' style="width:150px;">
    <img src={{ form.instance.image.url }} alt="book jacket image" />
</div> -->

<hr style="border-color: #00f;">
<h3>Make Changes</h3>
{% include 'snippets/form-snippet.html' with form=form %}
<br />
<br />

{% endblock %}