{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}Bio | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class='outer'>
    <div class='row'>
        <my-title class='page-title'>Biography</my-title>
    </div>
    <div class='row'>
        <img class='bioimage' alt='avatar' src="{% static 'img/mangaAvatar.PNG' %}">
        </img>
    </div>
    <br />
    <div class='row' id='body-content'>
        <p class="bio">
        Born in 1960, Arthur D. Books attended Yale University where he majored in Plant Psychology. He struggled to get employment in this area. In his free time, he penned his first novel, "A Farewell to Legs" in 1985. Spurred on by the success of this book, which sold over ten copies, he started writing full time and has since written several other forgettable novels.
        </p>
    </div>
    <br />
    <div class="book-praise">
        <h3>Praise for his books:</h3>
        <p>"He certainly can turn a phrase, I just wish he'd turn them into something interesting." - Colonel Mustard</p>
        <p>"I assume he's self published." - Mary R. Nicholls</p>
        <p>"That's not writing, that's just typing." - James Dewitt</p>
        <p>"The greatest load of drivel in modern times." - Leroy D. Chance</p>
        <p>"His overuse of commas is legendary." - Sherry Lecasse</p>
        <p>"I await the sequel much like someone awaits pneumonia." - Bilbo Baggins</p>
        <br />
        <br />
    </div>
</div>
{% endblock content %}