{% extends "base.html" %}
{% block head_title %}{{ block.super }}{% endblock head_title %}


{% block content %}

<div class='outer'>
    <div class='row'>
        <my-title class='page-title'>Welcome</my-title>
    </div>
    <div class='row' id='body-content'>
        <h4>This is a fictional site of a literary author (Arthur D. Books), just as an example.</h4>
        <h4>It uses:</h4>
        <h4>&bull; Django, Python, Javascript/HTML/CSS, Bootstrap, jQuery, and django-blog-it.</h4>
        <h4>&bull; Fonts: Quicksand and GT-Pressura-Mono (footer bar only).</h4>
    </div>
</div>

{% endblock content %}