/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /*box-sizing: */
}

body {
/*    background-image: url(../img/bkgnd.png); */ /* old background */
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
    /*background-size: cover;*/
/*    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
    /*background-color: #fff;*/
    /*overflow-x: hidden;*/
    /*background-color: #E4E6E9;*/
    /*min-height: 100%*/;
    /*padding-bottom: 0;*/
    font-family: Graphik, Helvetica, Arial;
    font-size: 13px;
    color: #393939;
    /*line-height: 1.0em;*/
}

#header {
    padding: 10px;
    color: rgba(48,135,225,1.0);
/*    background: linear-gradient(rgba(38,108,173,.6), rgba(255, 255, 255, .1));*/
    background-color: rgba(19, 54, 87, 0.9);
}

h2.page-title {
    float:left;
    padding-left:15px;
    padding-top:30px;
}

/*body > h1 {*/
/*    background-color: #888899;*/
    /*background-color: rgba(38,108,173,.5); *//* 266cad */
/*    color: rgba(38,108,173,.5);
    background: linear-gradient(rgba(38,108,173,.6), rgba(255, 255, 255, .1));
    margin: 0 0 0 0;
    padding: 30px 30px;
}
*/
#wrapper {
    min-height: 100%;
    position: relative;
}

#top-header {
}

#main_container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    margin-left: 68px;
    margin-right: 68px;
    /*min-height: 100vh;*/ /* this guy messes up the footer, makes it go below the bottom of the window */
}

#footer-div {
    background: rgba(19, 54, 87, 1.0);
/*    background: linear-gradient(to top, rgba(38,108,173,.6), rgba(255, 255, 255, .07));*/
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 55px;
}

.thinblueline {
    width: 100%;
    height: 4px;
    background-color:rgba(38,108,173,1.0);
}

#my-footer {
    bottom: 0px;
    width: 100%;
    /*position: relative;*/
    /*margin-left: 68px;*/
    margin-right: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background-color: rgba(38,108,173,.5);*/
    /*background-size: cover;*/
    /*background-position: center;*/
    color: #372;
    font-family: GT-Pressura-Mono, Courier, monospace;
    padding:.4rem 0rem;
    /*background: linear-gradient(rgba(0,0,0,.8));*/
}

#my-footer a {
    color:rgba(38,108,173,.5);
    text-decoration: none;
}

#colophon {
    padding:4px 20px 2px;
    /*background:#000;*/
    /*background-color: rgba(38,108,173,.5);*/
    background-color: rgba(19, 54, 87, 1.0);
    color:rgba(38,108,173,1.0);
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -ms-flex-align:center;
    align-items:center;
    height: 45px;
}

#colophon p {
    margin:0;
}

/*@media (min-width: 700px) {
    .copyright {
        -ms-flex:0 1 30%;
        flex:0 1 30%;
        color:rgba(255,255,255,.5);
        font-size:1.3rem;
        font-family: 'Open Sans', sans-serif;
    }
}*/

.copyright {
    -ms-flex:0 1 70%;
    flex:0 1 70%;
    color:rgba(38,108,173,1.0);
    font-size:1.4rem;
    font-family: GT-Pressura-Mono, Courier, monospace;
}

.social-icons {
    width: 260px;
    height: 30px;
    display:flex;
    flex-direction: row;
}

.social {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: auto;
}

.social img {
    position: absolute;
}

img.bioimage {
    height: 100px;
    width: 53px;
}

img.idle {
    visibility: inherit;
    opacity: 1;
    height: 20px;
    width: 20px;
}

.mytooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.mytooltip .mytooltiptext {
    visibility: hidden;
    /*transition: visibility 0.5s;*/
    width: 80px;
    background-color: transparent;
    color: #266CAD;
    text-align: center;
    font-size:1.3rem;
    font-family: GT-Pressura-Mono, Courier, monospace;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -41px;
}

.mytooltip:hover .mytooltiptext {
    visibility: visible;
}

.zmdi {
    display:inline-block;
    font:normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

/*.zmdi-twitter::before {
    content:'\f360';
}

.zmdi-facebook::before {
    content:'\f343';
}*/

#i-facebook svg {
    width: 56px;
}

svg:not(:root) {
    overflow: hidden
}
img, svg {
    vertical-align: top
}

@font-face {
    font-family: Graphik;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Graphik-Regular-Web-11b5d7bf61.eot);
    src: url(../fonts/Graphik-Regular-Web-11b5d7bf61.eot?#iefix) format("embedded-opentype"), url(../fonts/Graphik-Regular-Web-3173d915f0.woff2) format("woff2"), url(../fonts/Graphik-Regular-Web-31345f52a9.woff) format("woff"), url(../fonts/Graphik-Regular-Web.svg#Eczar) format("svg")
}

@font-face {
    font-family: GT-Pressura-Mono;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/GT-Pressura-Mono-Regular-1c53e7a7a3.eot);
    src: url(../fonts/GT-Pressura-Mono-Regular-1c53e7a7a3.eot?#iefix) format("embedded-opentype"), url(../fonts/GT-Pressura-Mono-Regular-c26cfc9a58.woff2) format("woff2"), url(../fonts/GT-Pressura-Mono-Regular-54b1c32ff1.woff) format("woff"), url(../fonts/GT-Pressura-Mono-Regular-3bd9603567.svg#Eczar) format("svg")
}

@font-face {
    font-family: Calluna;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Calluna.eot);
    src: url(../fonts/Calluna.eot?#iefix) format("embedded-opentype"), url(../fonts/Calluna-5b987b6866.woff2) format("woff2"), url(../fonts/Calluna-a95fa1a2da.woff) format("woff"), url(../fonts/Calluna.svg#Eczar) format("svg")
}

@font-face {
    font-family: Calluna;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Calluna-Bold-2597c362cb.eot);
    src: url(../fonts/Calluna-Bold-2597c362cb.eot?#iefix) format("embedded-opentype"), url(../fonts/Calluna-Bold-6ad03d9336.woff2) format("woff2"), url(../fonts/Calluna-Bold-7701dc1ec8.woff) format("woff"), url(../fonts/Calluna-Bold.svg#Eczar) format("svg")
}

.icon {
    fill: currentColor;
    width: 3em;
    height: 3em;
    vertical-align: -0.15em;
    overflow: hidden;
}

.input-prepend input.span12  {
    width: 800px;
}

.modal-header {
    border-radius: 4px 4px 0 0;
}

.modal-footer {
    border-radius: 0px 0px 4px 4px;
}

.modal {
    /*background-color: rgba(255,255,255,0.8);*/
    color:rgba(38,108,173,1.0);
}

.modal-footer, .modal-header {
    background-color: #eef;
}


form.mylogin .form-control {
    width: 50%;
}

