/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/



body, html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(../img/bkgnd.png);
    background-size: cover;    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    /*background-color: #fff;*/
    overflow-x: hidden;
    /*background-color: #E4E6E9;*/
    min-height: 100%;
    padding-bottom: 0;
    font-family: Graphik, Helvetica, Arial;
    font-size: 13px;
    color: #393939;
    line-height: 1.5;
}

body > h1 {
/*    background-color: #888899;*/
    color: rgba(38,108,173,.5);
    /*background-color: rgba(38,108,173,.5); *//* 266cad */
    background: linear-gradient(rgba(38,108,173,.6), rgba(255, 255, 255, .1));
    margin: 0 0 0 0;
    padding: 30px 30px;
}

#main_container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 68px;
    margin-right: 68px;
    min-height: 100vh;
/*    position: absolute;
    width: calc(100% - 43px);
    float: right;
*/}

#footer-div {
    background: linear-gradient(to top, rgba(38,108,173,.6), rgba(255, 255, 255, .1));
}


#my-footer {
    bottom: 0px;
    width: 100%;
    position: relative;
    /*margin-left: 68px;*/
    margin-right: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background-color: rgba(38,108,173,.5);*/
    /*background-size: cover;*/
    /*background-position: center;*/
    color: #372;
    font-family: GT-Pressura-Mono, Courier, monospace;
    padding:.4rem 0rem;
    /*background: linear-gradient(rgba(0,0,0,.8));*/
}

#my-footer a {
    color:rgba(38,108,173,.5);
    text-decoration: none;
}

#colophon {
    padding:.4rem 2rem;
    /*background:#000;*/
    /*background-color: rgba(38,108,173,.5);*/
    color:rgba(38,108,173,.5);
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -ms-flex-align:center;
    align-items:center;
}

#colophon p {
    margin:0;
}

/*@media (min-width: 700px) {
    .copyright {
        -ms-flex:0 1 30%;
        flex:0 1 30%;
        color:rgba(255,255,255,.5);
        font-size:1.3rem;
        font-family: 'Open Sans', sans-serif;
    }
}*/

.copyright {
    -ms-flex:0 1 70%;
    flex:0 1 70%;
    color:rgba(38,108,173,.5);
    font-size:1.4rem;
    font-family: GT-Pressura-Mono, Courier, monospace;
}

.social-icons {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:end;
    justify-content:flex-end;
    -ms-flex:0 1 30%;
    flex:0 1 30%;
}

.social-icons a {
    margin-left:1rem;
    font-size:1.8rem;
    color:rgba(38,108,173,.5);
    text-decoration:none;
    transition:all .2s ease;
}

.zmdi {
    display:inline-block;
    font:normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.zmdi-twitter::before {
    content:'\f360';
}

.zmdi-facebook::before {
    content:'\f343';
}

#i-facebook svg {
    width: 56px;
}

svg:not(:root) {
    overflow: hidden
}
img, svg {
    vertical-align: top
}

@font-face {
    font-family: Graphik;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Graphik-Regular-Web-11b5d7bf61.eot);
    src: url(../fonts/Graphik-Regular-Web-11b5d7bf61.eot?#iefix) format("embedded-opentype"), url(../fonts/Graphik-Regular-Web-3173d915f0.woff2) format("woff2"), url(../fonts/Graphik-Regular-Web-31345f52a9.woff) format("woff"), url(../fonts/Graphik-Regular-Web.svg#Eczar) format("svg")
}

@font-face {
    font-family: GT-Pressura-Mono;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/GT-Pressura-Mono-Regular-1c53e7a7a3.eot);
    src: url(../fonts/GT-Pressura-Mono-Regular-1c53e7a7a3.eot?#iefix) format("embedded-opentype"), url(../fonts/GT-Pressura-Mono-Regular-c26cfc9a58.woff2) format("woff2"), url(../fonts/GT-Pressura-Mono-Regular-54b1c32ff1.woff) format("woff"), url(../fonts/GT-Pressura-Mono-Regular-3bd9603567.svg#Eczar) format("svg")
}

@font-face {
    font-family: Calluna;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Calluna.eot);
    src: url(../fonts/Calluna.eot?#iefix) format("embedded-opentype"), url(../fonts/Calluna-5b987b6866.woff2) format("woff2"), url(../fonts/Calluna-a95fa1a2da.woff) format("woff"), url(../fonts/Calluna.svg#Eczar) format("svg")
}

@font-face {
    font-family: Calluna;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Calluna-Bold-2597c362cb.eot);
    src: url(../fonts/Calluna-Bold-2597c362cb.eot?#iefix) format("embedded-opentype"), url(../fonts/Calluna-Bold-6ad03d9336.woff2) format("woff2"), url(../fonts/Calluna-Bold-7701dc1ec8.woff) format("woff"), url(../fonts/Calluna-Bold.svg#Eczar) format("svg")
}



