

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /*box-sizing: */
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #4c4c4c;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
}

.outer .row {
    margin-left: 0px;
    margin-right: 0px;
}

#body-content {
    margin-right: 20px;
    line-height: 3.0em;
}

#scroll-wrap {
    margin-left: 35px;
    padding-left: 0;
}

#scroll-wrap > h2 {
    width: 100%;
}

#header {
    padding: 10px;
    height: 90px;
    color: rgba(48,135,225,1.0);
    background-color: rgba(19, 54, 87, 0.95);
}

/* Use the following for 390px and narrower */
@media (max-width: 390px) {
    #top-header, #top-header-link {
        font-size: 32px;
    }
}
/* Use the following for 350px and narrower */
@media (max-width: 350px) {
    #top-header, #top-header-link {
        font-size: 28px;
    }
}

#top-header {
    float: left;
    margin-top: 15px;
}

#top-header-link {
    color: rgba(48,135,225,1.0);
}

#top-header-link:hover {
    color: rgba(48,135,225,1.0);
    text-decoration: none;
}

my-title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

#blog-title-wrapper my-title {
    width: 100%;
}

/* Use the following for 594px and narrower */
@media (max-width: 628px) {
    #scroll-wrap my-title:first-child {
        width: 100%;
        float: left;
        padding-top: 0px;
        margin-top: 0px;
    }
/*    #sidebar {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }*/
}
/* Use the following for 595 - 625 */
@media (min-width: 629px) and (max-width: 645px) {
    #scroll-wrap my-title:first-child {
        float: left;
        padding-top: 29px;
    }
}
/* Use the following for 626+ */
@media (min-width: 646px) {
    #scroll-wrap my-title:first-child {
        float: left;
        padding-top: 29px;
    }
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#main_container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    margin-left: 68px;
    margin-right: 68px;
}

#footer-div {
    background: rgba(19, 54, 87, 1.0);
/*    background: linear-gradient(to top, rgba(38,108,173,.6), rgba(255, 255, 255, .07));*/
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 55px;
}

.thinblueline {
    width: 100%;
    height: 4px;
    background-color:rgba(38,108,173,1.0);
}

#my-footer {
    bottom: 0px;
    width: 100%;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #372;
    font-family: GT-Pressura-Mono, Courier, monospace;
    padding:.4rem 0rem;
}

#my-footer a {
    color:rgba(38,108,173,.5);
    text-decoration: none;
}

#colophon {
    padding:4px 20px 2px;
    background-color: rgba(19, 54, 87, 1.0);
    color:rgba(38,108,173,1.0);
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -ms-flex-align:center;
    align-items:center;
    height: 45px;
}

#colophon p {
    margin:0;
}

.copyright {
    -ms-flex:0 1 70%;
    flex:0 1 70%;
    color:rgba(38,108,173,1.0);
    font-size:1.4rem;
    font-family: GT-Pressura-Mono, Courier, monospace;
}

.copyright a {
    color:rgba(38,108,173,1.0);
}

.copyright a:hover {
    text-decoration: none;
    color: #266cff;
}

.social-icons {
    width: 260px;
    height: 30px;
    display:flex;
    flex-direction: row;
}

.social {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: auto;
}

.social img {
    position: absolute;
}

.bio {
    line-height: 1.3em;
    font-size: 18px;
    margin-right: 40px;
}

.book-praise > p {
    background-color: #fafafa;
    width: 93%;
    border: 1px solid #ddf;
    border-radius: 4px;
}

img.bioimage {
    height: 120px;
    width: 120px;
}

img.idle {
    visibility: inherit;
    opacity: 1;
    height: 20px;
    width: 20px;
}

.mytooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.mytooltip .mytooltiptext {
    visibility: hidden;
    /*transition: visibility 0.5s;*/
    width: 80px;
    background-color: transparent;
    color: #266CAD;
    text-align: center;
    font-size:1.3rem;
    font-family: GT-Pressura-Mono, Courier, monospace;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    margin-left: -41px;
}

.mytooltip:hover .mytooltiptext {
    visibility: visible;
}

#i-facebook svg {
    width: 56px;
}

svg:not(:root) {
    overflow: hidden
}
img, svg {
    vertical-align: top
}

@font-face {
    font-family: GT-Pressura-Mono;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/GT-Pressura-Mono-Regular-1c53e7a7a3.eot);
    src: url(../fonts/GT-Pressura-Mono-Regular-c26cfc9a58.woff2) format("woff2");
}

.icon {
    fill: currentColor;
    width: 3em;
    height: 3em;
    vertical-align: -0.15em;
    overflow: hidden;
}

.input-prepend input.span12  {
    width: 800px;
}

.modal-header {
    border-radius: 4px 4px 0 0;
}

.modal-footer input {
    font-weight: 600;
}

.modal-footer {
    border-radius: 0px 0px 4px 4px;
}

.modal {
    /*background-color: rgba(255,255,255,0.8);*/
    color:rgba(38,108,173,1.0);
}

.modal-footer, .modal-header {
    background-color: #eef;
}


form.mylogin .form-control {
    width: 50%;
}

.book-praise {
    margin-bottom: 40px;
}

/* blog stuff, move to separate file later */
div#blog {
    padding-left: 0px;
}

.blog-list li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.blogs ul {
    padding-left: 0px;
}


/* Use the following for 790+ */
@media (min-width: 790px) {
    .blog-container-left {
        float: left;
        padding-left: 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 60px;
        width: 74%;
    }

    #my-hr1 {
        visibility: hidden;
    }

    #my-hr2 {
        visibility: hidden;
    }

    #right-sidebar {
        padding-left: 50px;
        margin-top: 50px;
        margin-bottom: 80px;
        float: right;
        width: 26%;
    }
}
/* Use the following for below 790 */
@media (max-width: 789px) {
    .blog-container-left {
        float: left;
        padding-left: 0px;
        margin-right: 20px;
        margin-left: 0px;
        width: 90%;
    }

    #my-hr1 {
        margin-left: 0px;
        margin-bottom: 10px;
        border-top: 2px solid #ddd;
        width: 100%;
    }

    #my-hr2 {
        margin-left: 0px;
        margin-top: 25px;
        margin-bottom: 80px;
        border-top: 2px solid #ddd;
        width: 92%;
    }

    #right-sidebar {
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 20px;
        width: 100%;
    }
}

.breadcrumb {
    margin-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
}

.social_shares {
    margin-left: 0px;    
}

.social_item {
    padding-right: 8px;
}

.blog-table-head {
    padding: 0;
}


