
.sidebar {
    background-color: transparent; /*#F2F2F2;*/
    border-style: none; /*solid;*/
}

.sidebar {
    display: inline;
    padding-left: 0;
    padding-right: 0;
}

/* Use the following for 662px and narrower */
@media (max-width: 662px) {
    .sidebar.menu-min {
        float: left;
    }
}
/* Use the following for 663px and wider */
@media (min-width: 663px) {
    .sidebar.menu-min {
        width: 143px;
        float: right;
    }
}

ul.nav.list-group {
    overflow: visible;
}

.list-group {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style:none;
    position: relative;
    right: 0;
}

.nav li {
    float: left;
}

.myicons.menu-icon.fa {
    color: #266ccf;
}
.myicons.menu-icon.fa:hover {
    color: #266cff;
}

.nav::before, .nav::after, .navbar::before, .navbar::after
{
    display:table;
    content:" ";
}

ul.nav {
    padding-left: 10px;
    margin-bottom: 0;
    list-style: none;
    border-style: none;
}

.list-group { /* if you want borders, delete this section */
    border-style: none; 
    box-shadow: 0 0 0 0;
    display: inline-flex;
    float: right;
}

/* gives bold to selected menu text */
.list-group > li.active > a { 
    font-weight: bold;
    color: #2B7DBC;
    background-color: transparent; /*#FFF;*/
    border-style: none; /* if you want borders, delete this line */
}

.list-group > li.active::after {
    display:block;
    content:"";
    position:absolute;
    right:-2px;
    top:-1px;
    bottom:0;
    z-index:1;
    border-style:none; /* solid;*/
}

.list-group > li:hover > a {
    background-color: transparent; /*#FFF;*/
    color: #266cff;
}

.list-group > li:hover {
    background-color: transparent; /*#FFF;*/
}

.list-group > li {
    position: relative;
    float: left;
    padding: 0;
    border-style: none; /*solid;*/
}

/* uncomment this to get the 'bar' above the icon when hovering */
/*.list-group > li::before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 3px;
    width: 44px;
    overflow: hidden;
    background-color: #266cad;
}*/

.sidebar .list-group > li > a {
    position:relative;
    height:39px;
    line-height:37px;
    padding:0;
}

.list-group li.active > a::after {
    display:block;
    content:"";
    position:absolute;
    right:0;
    top:4px;
    border-style: none; /*solid*/
    border-color: transparent;
    border-width: 14px 10px;
}

.list-group > li > a {
    display:block;
    height:39px;
    /*line-height:17px;*/
    padding-left:7px;
    text-shadow:none !important;
    font-size:13px;
    text-decoration:none;
    background-color: transparent; /*#F8F8F8;*/
    color: #266cad;
}

.sidebar .list-group > li > a > .menu-icon {
    font-size:18px;
    height:auto;
    line-height:inherit;
    display:inline-block;
    vertical-align:sub;
    margin-right:0;
    width:44px;
}

.list-group > li > a > .menu-icon {
    display:inline-block;
    min-width:30px;
    margin-right:2px;
    vertical-align:sub;
    text-align:center;
    font-size:18px;
    font-weight:normal;
}

.list-group > li:hover:before  /* need this for the blue bar on left during hover */
{
    display: block;
}

/* need to override this so we don't get a grey bkgnd after hitting the 
   contact btn, which brings up a dialog. When this happens, the focus
   doesn't leave, so the grey bkgnd remains. */
.nav>li>a:focus {
    background-color: transparent;
}

/* need to override this so we don't get an outline after hitting the 
   contact btn, which brings up a dialog. When this happens, the focus
   doesn't leave, so the outline remains. */
a:focus {
    outline-style: none;
}

/* need the following to get the popout menu: */
.sidebar .list-group > li:hover > a > .menu-text, .sidebar .list-group > a > .menu-text { /* bad things happen */
    display: block;
    color: #266cad; /* darkish blue */
}

.sidebar .list-group > li > a > .menu-text { /* made menu text disappear until hover, just need correct size now */
    display: none;
    text-align: center;
    position: absolute;
    top: 40px;
    left: -50px;
    z-index: 1025;
    width: 90px;
    height: 41px;
    line-height: 38px;
    padding-left: 0;
    border-style: none; /*solid*/
    /*border-width: 1px;*/
    background-color: rgba(245,245,245,0.95); /*#F5F5F5;*/
    -webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow:2px 2px 3px 0 rgba(160,160,160,0.8);
    /*border-color:#CCC;*/
}

.sidebar .list-group > li > a {
    position: relative;
    height: 39px;
    line-height: 37px;
    padding: 0;
}


a {
    background:transparent;
}

a:any-link {
    cursor: auto;
}

.fa {
    display:inline-block;
    font-family:FontAwesome;
    font-style:normal;
    font-weight:normal;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.menu-text {
    font-size: 1.4rem;
    font-family: GT-Pressura-Mono, Courier, monospace;
    color: #333;
    letter-spacing: 1px;
    padding-top: 0px;
    vertical-align: middle;
}





