
.sidebar {
    background-color: transparent; /*#F2F2F2;*/
    border-style: none; /*solid;*/
/*    border-color: #CCC;
    border-width: 0 1px 1px 0;*/
}

.sidebar.menu-min {
    width: 43px;
}

.sidebar {
    width:190px;
    float:left;
    position:static;
    padding-left:0;
    padding-right:0;
}

.sidebar::before {
    content:"";
    display:block;
    width:inherit;
    position:absolute;
    top:0;
    bottom:0;
    z-index:-1;
/*    background-color:inherit;
    border-style:inherit;
    border-color:inherit;
    border-width:inherit;*/
}

.list-group {
    margin:0;
    padding:0;
    list-style:none;
}

div {  /* from main-container code */
    display: block;
}
/*
.clearfix::before, .clearfix::after, .container::before, .container::after,
 .container-fluid::before, .container-fluid::after, .row::before, .row::after,
  .form-horizontal .form-group::before, .form-horizontal .form-group::after,
   .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before,
    .btn-group-vertical > .btn-group::after, .navbar-header::before, .navbar-header::after,
     .navbar-collapse::before,
      .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before,
       .panel-body::after, .modal-footer::before, .modal-footer::after */
.nav::before, .nav::after, .navbar::before, .navbar::after
{
    display:table;
    content:" ";
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-style: none; /* if you want borders, delete this line */
}

.list-group { /* if you want borders, delete this section */
    border-style: none; 
    box-shadow: 0 0 0 0;
}

/* gives bold to selected menu text */
.list-group > li.active > a { 
    font-weight: bold;
    color: #2B7DBC;
    background-color: transparent; /*#FFF;*/
    border-style: none; /* if you want borders, delete this line */
}

.list-group > li.active::after {
    display:block;
    content:"";
    position:absolute;
    right:-2px;
    top:-1px;
    bottom:0;
    z-index:1;
    border-style:none; /* solid;*/
/*    border-width:0 2px 0 0;
    border-color:#2B7DBC;*/
}

.list-group > li:hover > a {
    background-color: transparent; /*#FFF;*/
    color: #266cad;
}

.list-group > li {
    display:block;
    position:relative;
    float:none;
    padding:0;
    border-style:none; /*solid;*/
/*    border-width:1px 0 0;
    border-color: #E5E5E5*/;
}

.list-group > li::before {
    display: none;
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    height: 41px;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #266cad; /*#629CC9;*/
}

.sidebar .list-group > li > a {
    position:relative;
    height:39px;
    line-height:37px;
    padding:0;
}

.list-group li.active > a::after {
    display:block;
    content:"";
    position:absolute;
    right:0;
    top:4px;
    border-style: none; /*solid*/
    border-color: transparent;
    border-width: 14px 10px;
}

.list-group > li > a {
    display:block;
    height:39px;
    line-height:17px;
    padding-left:7px;
    text-shadow:none !important;
    font-size:13px;
    text-decoration:none;
    background-color: transparent; /*#F8F8F8;*/
    color: #585858;
}

.sidebar .list-group > li > a > .menu-icon {
    font-size:18px;
    height:auto;
    line-height:inherit;
    display:inline-block;
    vertical-align:sub;
    margin-right:0;
    width:44px;
}

.list-group > li > a > .menu-icon {
    display:inline-block;
    min-width:30px;
    margin-right:2px;
    vertical-align:sub;
    text-align:center;
    font-size:18px;
    font-weight:normal;
}

.list-group > li:hover:before  /* need this for the blue bar on left during hover */
{
    display: block;
}


/* need the following to get the popout menu: */
.sidebar .list-group > li:hover > a > .menu-text, .sidebar .list-group > a > .menu-text { /* bad things happen */
    display: block;
    color: #266cad; /* darkish blue */
}

.sidebar .list-group > li > a > .menu-text { /* made menu text disappear until hover, just need correct size now */
    display: none;
    text-align: left;
    position: absolute;
    top: -1px;
    left: 42px;
    z-index: 1025;
    width: 100px;
    height: 41px;
    line-height: 38px;
    padding-left: 12px;
    border-style: none; /*solid*/
    /*border-width: 1px;*/
    background-color: transparent; /*#F5F5F5;*/
    -webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow:2px 1px 2px 0 rgba(0,0,0,0.1);
    /*border-color:#CCC;*/
}

.sidebar .list-group > li > a {
    position: relative;
    height: 39px;
    line-height: 37px;
    padding: 0;
}


a {
    background:transparent;
}

a:any-link {
    cursor: auto;
}

.fa {
    display:inline-block;
    font-family:FontAwesome;
    font-style:normal;
    font-weight:normal;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

/*.fa-dashboard::before, .fa-tachometer::before {*/
/*    content:"\f0e4";*/
/*}*/

.menu-text {
    font-size: 1.4rem;
    font-family: GT-Pressura-Mono, Courier, monospace;
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;*/
    color: #333;
    letter-spacing: 1px;
}





