
  

  
<div id="sidebar" class="sidebar menu-min">
<ul class="nav nav-list">
  <li class="active">
    <a href="/">
    <i class="menu-icon fa fa-dashboard"></i>
    <span class="menu-text">Home</span>
    </a>
  </li>
  <li class="">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-flask"></i>
      <span class="menu-text">Backtesting tool</span>
    </a>
  </li>
  <li class="">
    <a href="/strategies">
    <i class="menu-icon fa fa-code-fork"></i>
    <span class="menu-text">Strategies</span>
    </a>
  </li>
  <li class="">
    <a href="/live">
    <i class="menu-icon fa fa-cloud"></i>
    <span class="menu-text">Live trading</span>
    </a>
  </li>
  <li class="">
    <a href="/topics">
    <i class="menu-icon fa fa-comment"></i>
    <span class="menu-text">Discussion</span>
    </a>
  </li>
  <li class="">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-question"></i>
      <span class="menu-text">Help</span>
    </a>
  </li>
  <li class="">
    <a href="#" class="link-contact"><i class="menu-icon fa fa-envelope"></i><span class="menu-text">Contact</span></a>
  </li>
</ul><!--/.nav-list-->
</div><!--/#sidebar-->
        <div id="main-content" class="main-content">
        </div><!-- #main-content -->

    <!-- drl - this is neat - a small btn in lower right that causes scroll to top of page -->
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse display">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
  </a>