
{% load staticfiles %}

<nav role="navigation">
    <div id="sidebar" class="sidebar menu-min">
        <ul class="nav list-group">
            <li class=""><a href="/"><i class="myicons menu-icon fa fa-home"></i><span class="menu-text">Home</span></a></li>
            <li class=""><a href="/books/"><i class="myicons menu-icon fa fa-book"></i><span class="menu-text">Books</span></a></li>
            <li class=""><a href="/blog/"><i class="myicons menu-icon fa fa-pencil"></i><span class="menu-text">Blog</span></a></li>
            <li class=""><a href="/bio/"><i class="myicons menu-icon fa fa-user"></i><span class="menu-text">Bio</span></a></li>
            <li class=""><a href="/contact/" data-toggle="modal" data-target="#modal" data-tooltip><i class="myicons menu-icon fa fa-envelope"></i><span class="menu-text">Contact</span></a></li>
        </ul>
    </div>
    <script>
        $('#modal').on('show.bs.modal', function (event) {
            var modal = $(this)
            $.ajax({
                url: "{% url 'contact' %}",
                context: document.body
            }).done(function(response) {
                modal.html(response);
            });
        })
    </script>
    <script>
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });
    </script>
</nav>


<!-- {# {% url 'contact' %} {% url 'writerhome:books' %} #} -->
<!-- {% url 'blog' %}  {% url 'bio' %} {% url 'contact' %} -->