boto==2.49.0
certifi==2020.4.5.2
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.29
django-blog-it==0.3.1
django-crispy-forms==1.6.1
django-csp==3.3
django-simple-pagination==1.1.8
django-storages==1.9.1
gunicorn==19.7.1
idna==2.9
microurl==0.1.1
olefile==0.44
Pillow==6.2.2
psycopg2==2.8.5
pytz==2017.2
requests==2.20.0
urllib3==1.24.2
